$black: #171717;
$blue: #133A8A;
$white: #FFF;
$gray: #C2C2C2;
$gray-button: #6C6C6C;

body {
  background-color: $black;
  font-family: 'Open Sans';
  font-size: 16px;
  margin: 0;
}

.buscaminas {
  display: flex;
  flex-flow: row wrap;
  height: 320px;
  width: 320px;

  &__item {
    display: flex;
    align-items: center;
    background-color: $blue;
    border: 1px solid $black;
    color: $gray-button;
    cursor: pointer;
    height: 38px;
    justify-content: center;
    transition: background-color 1s;
    width: 38px;

    &--open {
      background-color: white;
    }
  }
}